@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "LiteraturnayaBook";
  font-display: swap;
  src: url("../fonts/LiteraturnayaBook.woff") format("woff"), url("../fonts/LiteraturnayaBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TypeyMctypeface";
  font-display: swap;
  src: url("../fonts/TypeyMctypeface.woff") format("woff"), url("../fonts/TypeyMctypeface.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Ограничивающая оболочка */

.religious-slider .slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.religious-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0px;
}

/* Слайд */

/* Стрелка */

.nav .slick-arrow {
  display: inline-block;
  position: absolute;
  font-size: 0;
  width: 40px;
  height: 100%;
  z-index: 4;
}

/* Стрелка влево */

.nav .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slider/prevArr.svg") 9px 14px/contain no-repeat;
}

/* Стрелка вправо */

.nav .slick-arrow.slick-next {
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url("../img/slider/prevArr.svg") 9px 14px/contain no-repeat;
}

.painting__block-mainslider .slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.painting__block-mainslider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 20px 0px;
}

.painting__block-minislider .slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.painting__block-minislider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 20px;
}

.painting__block-minislider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -25px 0px 0px 0px;
  z-index: 2;
  font-size: 0;
  width: 50px;
  height: 50px;
}

.painting__block-minislider .slick-arrow.slick-prev {
  left: -10px;
  background: url("../img/prev.svg") 0 0/100% no-repeat;
}

.painting__block-minislider .slick-arrow.slick-next {
  right: -10px;
  background: url("../img/next.svg") 0 0/100% no-repeat;
}

body {
  height: 100%;
  font-family: "LiteraturnayaBook";
}

body.lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0px 71px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.main-die {
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #39342d;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

.main-die.active {
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 60px;
  padding: 0px 30px;
  color: #785117;
  text-transform: uppercase;
  font-size: 42px;
}

.title::before {
  content: "";
  width: 90px;
  height: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -90px;
  background-color: #785117;
}

.title::after {
  content: "";
  width: 90px;
  height: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -90px;
  background-color: #785117;
}

.big-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-family: "Literaturnaya Book";
  font-size: 16px;
  color: #785117;
  border-bottom: 1px solid #785117;
  padding: 0px 3px 15px 3px;
}

.more-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 90px;
  padding-bottom: 45px;
}

.more-link a {
  display: block;
  padding: 10px 5px;
  text-transform: uppercase;
  border-bottom: 1px solid #785117;
  font-size: 16px;
  line-height: 8px;
  color: #785117;
}

section:not(.about) {
  padding: 130px 0px 0px 0px;
}

@media (min-width: 769px) {
  .religious-slider .slick-slide {
    opacity: 0.8;
    -webkit-transition: ease all 2s;
    transition: ease all 2s;
    border: none;
  }

  .religious-slider .slick-active.slick-center {
    opacity: 1;
    border: 1px solid #785117;
    -webkit-transition: ease all 2s;
    transition: ease all 2s;
  }

  .religious-slider .slick-active.slick-center {
    -webkit-box-shadow: 2px 3px 8px rgba(120, 81, 23, 0.4);
            box-shadow: 2px 3px 8px rgba(120, 81, 23, 0.4);
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0px 40px;
  }
}

@media (max-width: 1050px) {
  section:not(.about) {
    padding: 100px 0 0 0;
  }
}

@media (max-width: 900px) {
  .painting__block-minislider .slick-arrow.slick-prev {
    left: -20px;
  }

  .painting__block-minislider .slick-arrow.slick-next {
    right: -20px;
  }

  .title {
    margin: 0 auto 40px;
  }

  .title {
    font-size: 32px;
    padding: 0px 25px;
    text-align: center;
  }

  .title::before {
    width: 60px;
    height: 2px;
    right: -60px;
  }

  .title::after {
    width: 60px;
    height: 2px;
    left: -60px;
  }

  .more-link {
    margin-top: 60px !important;
  }
}

@media (max-width: 768px) {
  .painting__block-mainslider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -25px 0px 0px 0px;
    z-index: 2;
    font-size: 0;
    width: 50px;
    height: 50px;
  }

  .painting__block-mainslider .slick-arrow.slick-prev {
    left: -10px;
    background: url("../img/prev.svg") 0 0/100% no-repeat;
  }

  .painting__block-mainslider .slick-arrow.slick-next {
    right: -10px;
    background: url("../img/next.svg") 0 0/100% no-repeat;
  }

  .main-die.active {
    top: 65px;
  }

  .title {
    font-size: 25px;
  }

  section:not(.about) {
    padding: 90px 0 0 0;
  }
}

@media (max-width: 768px) and (max-width: 900px) {
  .painting__block-mainslider .slick-arrow.slick-prev {
    left: -20px;
  }

  .painting__block-mainslider .slick-arrow.slick-next {
    right: -20px;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .painting__block-mainslider .slick-arrow.slick-prev {
    left: 0 !important;
  }

  .painting__block-mainslider .slick-arrow.slick-next {
    right: 0 !important;
  }
}

@media (max-width: 630px) {
  .title {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .religious-slider .slick-track {
    padding: 0 0 20px 0;
  }

  .container {
    padding: 0px 20px;
  }

  .main-die.active {
    top: 60px;
  }

  .title::before {
    width: 40px;
    height: 1px;
    right: -40px;
  }

  .title::after {
    width: 40px;
    height: 1px;
    left: -40px;
  }

  section:not(.about) {
    padding: 70px 0 0 0;
  }
}

@media (max-width: 500px) {
  .painting__block-mainslider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .painting__block-mainslider .slick-dots li:not(:last-child) {
    margin-right: 5px;
  }

  .painting__block-mainslider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
  }

  .title {
    margin: 0 auto 50px;
  }
}