* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "LiteraturnayaBook";
  font-display: swap;
  src: url("../fonts/LiteraturnayaBook.woff") format("woff"), url("../fonts/LiteraturnayaBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TypeyMctypeface";
  font-display: swap;
  src: url("../fonts/TypeyMctypeface.woff") format("woff"), url("../fonts/TypeyMctypeface.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f7f7f7;
  height: 100%;
  font-family: "LiteraturnayaBook";
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.title h2 {
  padding: 0px 30px;
  color: #785117;
  text-transform: uppercase;
  font-size: 42px;
}

.title span {
  display: block;
  width: 90px;
  height: 3px;
  background-color: #785117;
}

.header {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(215, 182, 98, 0.11);
}

.header__logo {
  height: 57px;
  width: 206px;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header-container {
  min-height: 80px;
  position: relative;
  padding: 10px 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-item:not(:last-child) {
  margin-right: 50px;
}

.menu__list-item a {
  color: rgba(120, 81, 23, 0.7);
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  font-family: "Typey McTypeface";
  font-size: 20px;
  line-height: 115%;
}

.menu__list-item a:hover {
  color: #785117;
  text-shadow: 5px 6px 4px rgba(120, 81, 23, 0.54);
  font-size: 21px;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.header-burger {
  display: none;
  position: relative;
  width: 40px;
  height: 20px;
}

.header-burger span {
  position: absolute;
  left: 0;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  height: 3px;
  width: 100%;
  background-color: #785117;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.header-burger span:first-child {
  top: 0;
}

.header-burger span:nth-child(2) {
  top: 8px;
}

.header-burger span:last-child {
  bottom: 1px;
}

.header-burger.active span {
  position: absolute;
  left: 0;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  height: 3px;
  width: 100%;
  background-color: #785117;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.header-burger.active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 25px;
  top: 10px;
}

.header-burger.active span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header-burger.active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 25px;
  bottom: 8px;
}

.showcase {
  position: relative;
  top: 80px;
  left: 0px;
  padding-bottom: 36.65%;
}

.showcase__die {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(240, 234, 200, 0.51)), color-stop(26.94%, rgba(0, 0, 0, 0.51)));
  background: linear-gradient(360deg, rgba(240, 234, 200, 0.51) 0%, rgba(0, 0, 0, 0.51) 26.94%);
}

.showcase__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.showcase__text {
  z-index: 4;
  font-family: "TypeyMctypeface";
  font-size: 42px;
  line-height: 131%;
  text-align: center;
  color: #F3F1D5;
  z-index: 2;
  padding: 0 120px;
}

section.about {
  padding: 145px 30px;
}

@media (max-width: 1200px) {
  .header-container {
    padding: 10px 40px;
  }

  .menu__list-item:not(:last-child) {
    margin-right: 25px;
  }

  .menu__list-item a {
    font-size: 18px;
  }

  .menu__list-item a:hover {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    padding: 80px 0 0 0;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }

  .menu.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }

  .menu__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(215, 182, 98, 0.11);
    -webkit-box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.25);
    padding-top: 70px;
  }

  .menu__list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .menu__list-item {
    padding: 0 15px 0 40px;
  }

  .menu__list-item a {
    font-size: 24px;
  }

  .header-burger {
    display: block;
  }
}

@media (max-width: 650px) {
  .menu {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .header-container {
    padding: 5px 20px;
  }
}

@media (max-width: 460px) {
  .menu {
    width: 99%;
  }
}

@media (max-width: 426px) {
  .header__logo {
    height: 50px;
    width: 160px;
  }

  .menu {
    padding: 65px 0 0 0;
  }

  .menu__list-item a {
    font-size: 22px;
  }

  .header-burger {
    width: 35px;
  }

  .header-burger span {
    height: 2px;
  }

  .header-burger.active span:last-child {
    bottom: 7px;
  }
}

@media (max-width: 425px) {
  .header-container {
    min-height: 65px;
  }
}