@import 'generalstyle.scss';
@import 'headerlight.scss';
@import 'footerlight.scss';

header{
    box-shadow: 0px 4px 40px rgba(120, 81, 23, 0.25);
}
.wrapper{
    overflow: visible !important; 
    @media(max-width:767px){overflow: hidden !important;}
}

section.about{
    padding: 170px 0px 0px 0px !important;
    @media (max-width: 768px){padding: 130px 0 0 0 !important;}
    @media (max-width: 600px){padding: 110px 0 0 0 !important;}
}

.about {
    &__row:not(:last-child){margin-bottom: 60px;}
    &__row:nth-child(odd){
        flex-direction: row-reverse; 
        padding-left: 71px; 
        padding-right: 0px;
        @media(max-width:1400px){flex-direction: column; padding: 0 71px;}
        @media (max-width:1200px){padding: 0px 40px;}
        @media (max-width:600px){padding: 0px 20px;}
    }
    &__row {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 71px;
        @media(max-width:1400px){flex-direction: column; padding: 0 71px;}
        @media (max-width:1200px){padding: 0px 40px;}
        @media (max-width:600px){padding: 0px 20px;}
    }
    &__row-smear{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        padding-bottom: 100%;
        img{object-position: 16px;}
        @media(max-width:1400px){
            left: -46%;
            width: 168%;
        }
        @media(max-width:390px){
            left: -40%;
            width: 160%;
        }
        @media(max-width:330px){
            left: -33%;
            width: 152%;
        }
    }
    &__row-image {
        position: relative;
        flex: 0 0 574px;
        @media(max-width:1400px){flex: 1 1 auto; margin-bottom: 20px;}
        @media(max-width:768px){margin-bottom: 40px;}
    }

    &__row-image-block {
        @media(max-width:1400px){
            width: 300px;
            padding-bottom: 360px;
        }
        @media(max-width:520px){
            width: 240px;
            padding-bottom: 280px;
        }
        width: 349px;
        padding-bottom: 446px;
        filter: drop-shadow(2px 5px 5px rgba(120, 81, 23, 0.4));
        z-index: 1;
        margin: 0 auto;
        margin-right: 57px;
        @media(max-width:1400px){margin: 0;}
        border-radius: 0 100% 0 0;
        border: 2px solid #A9926F;
        img{
            object-position: center;
            border-radius: 0 100% 0 0;
        }
    }

    &__row-text {
        position: relative;
        padding: 24px 30px;
        @media(max-width:1400px){padding: 24px 24px;}
        @media(max-width:768px){padding: 15px 15px;}
        @media(max-width:375px){padding: 0px;}
        p{
            text-indent: 50px;
            @media(max-width:768px){text-indent: 25px;}
            font-family: 'TypeyMctypeface';
            font-size: 17px;
            line-height: 176%;
            color: #000000;
        }
        & > p:not(:last-child){margin-bottom: 15px;}
    }
    &__row-text::before{
        content: '';
        @media(max-width:768px){
            width: 40px;
            height: 40px;
        }
        @media(max-width:375px){display: none;}
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        border-top: 1px solid #785117;
        border-right: 1px solid #785117;
    }
    &__row-text::after{
        content: '';
        @media(max-width:768px){
            width: 40px;
            height: 40px;
        }
        @media(max-width:375px){display: none;}
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #785117;
        border-left: 1px solid #785117;
    }
}

.exhibitions {
    padding-bottom: 90px !important;
    @media(max-width:500px){padding-bottom: 40px !important;}
    &__tab-container {
        display: flex;
        flex-direction: column;
    }
    .title{
        @media(max-width:500px){
            padding: 10px;
        }
        @media(max-width:470px){
            padding: 0px;
        }
    }
    .title::before, .title::after{
        @media(max-width:470px){
            width: 20px;
        }
        @media(max-width:402px){
            width: 40px;
        }
        @media(max-width:350px){
            width: 20px;
        }
    }
    .title::before{
        @media(max-width:470px){
            right: -24px;
        }
        @media(max-width:402px){
            right: 15px;
        }
        @media(max-width:402px){
            right: 0px;
        }
    }
    .title::after{
        @media(max-width:470px){
            left: -24px;
        }
        @media(max-width:402px){
            left: 15px;
        }
        @media(max-width:402px){
            left: 0px;
        }
    }
}

.tab-container {

    &__links {display: flex; justify-content: center; align-items: center; @media(max-width:767px){display: none;}}
    &__links a{
        border-bottom: 2px  solid #785117;
        flex: 0 1 50%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center;
        padding: 30px 15px;
        font-size: 27px;
        @media(max-width:1000px){
            font-size: 22px;
            padding: 25px 15px;
        }
        color: #785117;
    }
    &__links a:last-child{border-left: 2px solid #785117;}
    &__links a.active{
        background: rgba(226, 201, 136, 0.6);
        box-shadow: 0px 0px 10px rgba(120, 81, 23, 0.4);
    }
    &__content.active{display: flex; @media(max-width:767px){display: none;}}
    &__content {
        @media(max-width:767px){display: none;}
        position: relative;
        display: none;
        padding: 60px 0px;
        box-shadow: 0px 0px 10px rgba(120, 81, 23, 0.4);
        background-color: #f0eac8;
    }

    &__content-links {
        flex: 1 1 auto;
        padding-left: 65px;
        @media(max-width:1400px){padding-left: 30px;}
        @media(max-width:930px){padding-left: 20px;}
        & a:not(:last-child){margin-bottom: 25px;}
        a{
            display: block;
            width: fit-content;
            font-family: 'TypeyMctypeface';
            font-size: 20px;
            @media(max-width:1400px){font-size: 18px;}
            line-height: 136%;
            color: #000000;
            transition: all ease 0.3s;
        }
        a.active{
            color: #785117;
            text-shadow: 5px 5px 4px rgba(120, 81, 23, 0.54);
            transform: translate(-2px, -2px);
            transition: all ease 0.3s;
        }
    }

    &__content-image {
        flex: 0 0 50%;
    }
}

.content-image.sticky{
    position: sticky;
    top: 20px;
}
header{transform: translateY(0); transition: all ease 0.3s;}
header.hide{
    transform: translateY(-120%);
    transition: all ease 0.3s;
}
.content-image {
    transform: translateY(0px);
    height: fit-content;
    position: relative;
    &__block.active{display: block;}
    &__block {
        display: none;
        padding-bottom: 56.87%;
        transform: translate(16px, 16px);
        width: 73.2%;
        @media(max-width:900px){width: 84.2%; padding-bottom: 63.87%;}
        margin: 0 auto;
        border: 1px solid #785117;
        img{
            // display: block;
            box-shadow:2px 5px 15px rgba(120, 81, 23, 0.54);
            transform: translate(-16px, -16px);
            @media(max-width:900px){transform: translate(-12px, -12px);}
        }
        // img {display: none;}
    }
}

.tab-container__content-mobile {
    display: none;
    @media(max-width:767px){display: flex !important; flex-direction: column;}
}
.mobile-content {

    &__items {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        margin: 0; 
        width: 100%; 
        box-sizing: border-box; 
        padding: 16px 20px;
        @media(max-width:500px){ padding: 15px 10px;}
        background-color: transparent;
        border-radius: 10px;
        font-size: 18px;
        border: 1px solid #785117;
        color: #785117;
        box-shadow: 0px 0px 10px rgba(120, 81, 23, 0.22);
        z-index: 2;
        & .items-option{
            width: 100px !important;
        }
    }
    &__list.active{display: flex;}
    &__list {
        padding: 40px 20px 40px;
        @media(max-width:500px){ padding: 30px 0px 30px; box-shadow: none;}
        box-shadow: 0px 0px 10px rgba(120, 81, 23, 0.22);
        display: none;
        flex-direction: column;
        a{
            @media(max-width:500px){font-size: 16px;}
            color: #785117;
            font-size: 18px;
            line-height: 140%;
        }
        & a:not(:last-child){margin-bottom: 25px;}
    }
}
.select-box{position: relative;}
.arrow.active{
    transform: rotate(180deg);
    top: 45%;
    transition: all ease 0.3s;
}
.arrow {
    transition: all ease 0.3s;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 52%;
    transform: translateY(-50%);
    @media(max-width:500px){ 
        top:54%;
        border-top: 7px solid #785117;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }
    width: 0;
    height: 0;
    border-top: 10px solid #785117;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.show{
    display:block
}
.hide{
    display:none
}
.fade{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}