.footer {
    background-color: #DBDBDB;
}
.footer-container {
    padding: 36px 71px 30px;
    @media(max-width:1200px){
        padding: 36px 40px 30px;
    }
    @media(max-width:600px){
        padding: 30px 20px 30px;
    }
    position: relative;
    &__row {
        display: flex;
        @media(max-width:820px){
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @media(max-width:520px){
            flex-direction: column;
        }
        margin-bottom: 50px;
        & >*:not(.footer-container__row-logo){
            @media (max-width:768px){
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0 1 50%;
            }
        }
    }

    &__row-logo {
        width: 206px;
        height: 70px;
        @media(max-width:820px){
            width: 100%;
            height: 100%;
            a{
                @media(max-width:600px){
                    height: 70px;
                    width: 200px;
                }
                display: block;
                margin: 0 auto;
                height: 100px;
                width: 300px;
            }
            order: 3;
        }
        img{width: 100%; height: 100%;}
    }

    &__row-mail{
        @media(max-width:520px){
            margin-bottom: 60px;
        }
    }

    &__row-representative {
        margin-right: 80px;
        margin-left: 140px;
        @media(max-width:930px){
            margin: 0 60px 0 90px;
        }
        @media(max-width:870px){
            margin: 0 50px 0 50px;
        }
        @media(max-width:820px){
            margin: 0 0 30px 0px;
        }
        @media(max-width:520px){
            margin-bottom: 40px;
        }
    }

    &__privacy, &__authors {
        display: block;
        margin: 0 auto;
        width: fit-content;
        font-size: 14px;
        line-height: 7px;
        color: rgba(0, 0, 0, .5);
    }
    &__authors{
        margin: 0px;
        position: absolute;
        right: 71px;
        bottom: 30px;
        @media(max-width:1200px){
            right: 40px;
        }
        @media(max-width:1100px){
            position: relative;
            top: 0;
            left: 0;
            margin: 20px auto;
        }
        @media(max-width:520px){
            line-height: 24px;
            text-align: center;
            font-size: 13px;
        }
    }

    &__links-privacy {
        margin-right: 150px;
    }
}
.representative, .mail {
    p, a{
        font-size: 16px;
        line-height: 8px;
        color: rgba(55, 55, 55, 0.7);
    }

    p:not(:last-child){
        margin-bottom: 20px; 
        @media(max-width:520px){
            margin-bottom: 15px;
        }
    }
    p.mail__title, p.representative__title {
        margin-bottom: 30px;
        font-size: 18px !important;
        line-height: 9px;
        color: #373737;
        @media(max-width:520px){
            margin-bottom: 20px;
        }
    }
}
.footer-container__authors:hover, .mail-link:hover, .phone-link:hover{
    color: #373737;
}