/* Ограничивающая оболочка */
.religious-slider .slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.religious-slider .slick-track{
    display: flex;
    align-items: flex-start;
    padding: 20px 0px;
    @media(max-width:600px){padding: 0 0 20px 0;}
}
/* Слайд */
.religious-slider .slick-slide{
    @media (min-width: 769px) {
        opacity: .6;
        transition: ease all 2s;   
        border: none;    
    }
}
.religious-slider .slick-active.slick-center {
    @media (min-width: 769px) {
        opacity: 1;
        border: 1px solid #785117;
        transition: ease all 2s;   
    }
    @media (min-width: 769px) {
        box-shadow: 2px 3px 8px rgba(120, 81, 23, 0.4);
    }
}
/* Стрелка */
.nav .slick-arrow{
    display: inline-block;
    position: absolute;
    font-size: 0;
    width: 40px;
    height: 100%;
    z-index: 4;
}
/* Стрелка влево */
.nav .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/slider/prevArr.svg') 9px 14px/contain no-repeat;
}
/* Стрелка вправо */
.nav .slick-arrow.slick-next{
    right: 0;
    transform: rotate(180deg);
    background: url('../img/slider/prevArr.svg') 9px 14px/contain no-repeat;
}

// ---------------------------- СЛАДЕР ЖИВОПИСИ ----------------------------
.painting__block-mainslider .slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.painting__block-mainslider .slick-track{
    display: flex;
    align-items: flex-start;
}
@media (max-width: 768px) {
    .painting__block-mainslider .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -25px 0px 0px 0px;
        z-index: 2;
        font-size: 0;
        width: 50px;
        height: 50px;
    }
    .painting__block-mainslider .slick-arrow.slick-prev {
        left: -10px;
        @media (max-width: 900px) {left: -20px;}
        @media (max-width: 768px) {left: 0;}
        background: url('../img/prev.svg') 0 0/100% no-repeat;
    }
    .painting__block-mainslider .slick-arrow.slick-next {
        right: -10px;
        @media (max-width: 900px) {right: -20px;}
        @media (max-width: 768px) {right:0;}
        background: url('../img/next.svg') 0 0/100% no-repeat;
    }
}
@media (max-width: 500px) {
    .painting__block-mainslider .slick-arrow {
        top: auto;
        bottom: 0;
    }
    .painting__block-mainslider .slick-arrow.slick-prev {
        left: 50%;
        transform: translateX(-100%);
    }
    .painting__block-mainslider .slick-arrow.slick-next {
        right: 50%;
        transform: translateX(100%);
    }
}


.painting__block-minislider .slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.painting__block-minislider .slick-track{
    display: flex;
    align-items: flex-start;
    padding: 0px 0px 20px;
    // @media(max-width:600px){padding: 0 0 20px 0;}
}
.painting__block-minislider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -25px 0px 0px 0px;
    z-index: 101;
    font-size: 0;
    width: 50px;
    height: 50px;
}
.painting__block-minislider .slick-arrow.slick-prev {
    left: -10px;
    @media (max-width: 900px) {left: -20px;}
    background: url('../img/prev.svg') 0 0/100% no-repeat;
}
.painting__block-minislider .slick-arrow.slick-next {
    right: -10px;
    @media (max-width: 900px) {right: -20px;}
    background: url('../img/next.svg') 0 0/100% no-repeat;
}