@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
.slick-slide {
  height: 200px !important;
  width: 200px !important;
}
.slick-slide img {
  height: 200px !important;
  width: 200px !important;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
.slick-slide.slick-center {
  opacity: 1;
  border: 2px solid red;
  margin: 0px 30px;
}

/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */